.dashboard-heading{
    display: flex;
    align-items: center;
    gap: 250px;
    
}

.dashboard-overview {
  display: flex;
  align-items: center;
  gap: 50px;
}

p{
    font-size: 12px;
    color: #7b7e83;;
}
