.dashboard-heading{
    display: flex;
    align-items: center;
    gap: 450px;
    
}

.dashboard-overview {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 50px;
}

p{
    font-size: 15px;
    color: #7b7e83;;
}
